<template>
  <div>
    <!-- <h1>Wyniki:</h1> -->
    <h2>Dziękujemy za skorzystanie z tego testu.</h2>
    <h3>Wyniki:</h3>
    <div class="results-container">
      <div class="chart">
        <line-chart
          :curve="true"
          :precision="4"
          :dataset="{borderWidth: 3}"
          xtitle="Częstotliwości [Hz]"
          ytitle="Próg słyszenia [dBFS]"
          :data="testResults"
          :download="true" />
      </div>
    </div>
    <div>
        <button class="button" v-on:click="saveData('wyniki.json', 'text/plain')"><b>Pobierz swoje wyniki</b></button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'TestPhaseEnd',
  components: {
  },
  computed: {
    testResults () {
      let resultsLeft = this.$store.getters.getTestResults['L']
      let resultsRight = this.$store.getters.getTestResults['R']

      return [{
        'name': 'Lewe ucho',
        'data': resultsLeft
      },
      {
        'name': 'Prawe ucho',
        'data': resultsRight
      }]
    }
  },
  methods: {
    saveData (fileName, contentType) {
      const a = document.createElement('a')
      const file = new Blob([JSON.stringify(this.$store.getters.getTestResults, null, 2)], { type: contentType })
      a.href = URL.createObjectURL(file)
      a.download = fileName
      a.click()
    }
  }
}

</script>

<style  lang="scss" scoped>

$color-button: #FFDA00;

.results-container {
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.chart {
  background-color: white;
  padding: 25px;
  border-radius: 15px;
  padding-right: 50px;
  width: 800px;
}

h1 {
  margin: 3rem;
}

h2 {
  font-size: 35px;
  margin: 3rem;
}

h3 {
  font-size: 27px;
  margin-top: 5rem;
  margin-bottom: 3rem;
}

.button {
  padding: 1.5rem 3rem 1.5rem 3rem;
  background: $color-button;
  border-radius: 4rem;
  border: 0.5px solid #ffffff;
  color: #005F95;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  outline:0;

  margin: 55px 0 35px 0;
}
</style>
