<template>
  <div id="audio">
    <audio ref="audioElm">
      <source src="@/assets/test/audio/test-config.mp3" type="audio/mpeg">
    </audio>
    <audio ref="audioTest">
    </audio>
  </div>
</template>

<script>
export default {
  name: 'Audio',
  data: function () {
    return {
      audioGen: {
        audioContext: '', // For context only
        oscillatorNode: '', // For context and update only
        gainNode: '', // For context and update only
        panNode: '', // For context and update only
        writable: true
      },

      testResults: {
        L: {
          '250': [],
          '500': [],
          '1000': [],
          '2000': [],
          '3000': [],
          '4000': [],
          '6000': [],
          '8000': []
        },
        R: {
          '250': [],
          '500': [],
          '1000': [],
          '2000': [],
          '3000': [],
          '4000': [],
          '6000': [],
          '8000': []
        }
      },

      finalResults: {
        L: {
          '250': '',
          '500': '',
          '1000': '',
          '2000': '',
          '3000': '',
          '4000': '',
          '6000': '',
          '8000': ''
        },
        R: {
          '250': '',
          '500': '',
          '1000': '',
          '2000': '',
          '3000': '',
          '4000': '',
          '6000': '',
          '8000': ''
        }
      },

      audioStepArray: [],

      gainType: 'log', // ? lin as linear scale, log for logarythmic scale
      intervalTime: 700, // ? set this to alter updateGain interavl

      interTimerContext: '',
      gainUpActiveFlag: false,

      currentOscillet: '',
      currentGain: 0,

      writable: true
    }
  },
  mounted: function () {
    const channels = ['L', 'R']
    const frequencies = [250, 500, 1000, 2000, 3000, 4000, 6000, 8000]
    // const trials = 7 // * Setting that changes MAXIMUM number of trials
    const trials = 7 // * Setting that changes MAXIMUM number of trials
    const initialFreq = 4000 // * Setting that changes initial tone of the testing sequence

    let stepArray = []

    function shuffle (array) {
      let m = array.length
      let t
      let i

      // While there remain elements to shuffle…
      while (m) {
        // Pick a remaining element…
        i = Math.floor(Math.random() * m--)

        // And swap it with the current element.
        t = array[m]
        array[m] = array[i]
        array[i] = t
      }

      return array
    }

    // matrix generation: 2 channels, 8 frequences, 12 trials each
    for (let chan of channels) {
      for (let freq of frequencies) {
        [...Array(trials).keys()].forEach(() => {
          stepArray.push({
            channel: chan,
            frequency: freq
          })
          // OR :
          // for (let index = 0; index < trials; index++) {
          //   stepArray.push({
          //   channel: chan,
          //   frequency: freq
          // })
        })
      }
    }

    // matrix scrumbling
    shuffle(stepArray)

    // setting default tone for a start
    const initStepIndex = stepArray.findIndex(item => item.frequency === initialFreq)
    if (initStepIndex !== 0) {
      // First remove the element using splice()
      // Then unshift it at the beginning of the array
      stepArray.unshift(...stepArray.splice(initStepIndex, 1))
    }

    // * ASSIGN calculated arary to a Component Scope
    this.audioStepArray = stepArray

    // console.log(stepArray.length)
  },
  beforeDestroy: function () {
    this.interTimerStop()
    this.muteOscillator()
    this.stopTestOscillator()
  },
  computed: {
    currentTestStep () {
      return this.$store.getters.getTestStep
    },
    allowPlay () {
      return this.$store.getters.getTestPlayAllow
    },
    circleClickable () {
      return this.$store.getters.getTestControlCircleData['clickable']
    },
    userInterrupt () {
      return this.$store.getters.getTestUserInterrupt
    }
  },
  watch: {
    currentTestStep (currentTestStep) {
      if (currentTestStep === 3) {
        // console.log('Config Audio shall play here')
        this.playConfigurationSong(true)
      } else if (currentTestStep === 4) {
        // console.log('Config Audio shall end here')
        this.playConfigurationSong(false)
        // Initialize an oscillator for test oscillator mechanics
        this.initTestOscillator()
      } else if (currentTestStep === 5) {
        // * Start Sequence (Call an oscillator mechanics initializer)
        this.preTestRoutine()
      } else if (currentTestStep === 6) {
        // console.log('Step 6')
        // console.log('Hello from the step 6 Audio Component step watcher callback in Test!')
      }
    },
    allowPlay (allowPlay) {
      // * Initialization of oscillator, audio Context
      this.initTestOscillator()
    },
    userInterrupt (now, before) {
      if (now === true && before === false) {
        // console.log('User interrupt')
        if (this.gainUpActiveFlag) {
          this.testRoutine()
        }
      }
    }
  },
  methods: {
    goNextStep () {
      this.$store.dispatch('incStepTest')
    },
    // * CONFIG METHODS * //
    playConfigurationSong (condition) {
      this.$refs.audioElm.addEventListener('ended', () => {
        this.$store.dispatch('decStepTest') // if setup audio finishes before user termination, revert to previous step and give user a second chance to set up his audio
      })
      if (condition === true) {
        this.$refs.audioElm.play()
      } else if (condition === false) {
        this.$refs.audioElm.pause()
      } else {
        console.error('Config Audio Problem!')
      }
    },
    // * WEB AUDIO API METHODS * //
    initTestOscillator () {
      const context = new window.AudioContext()

      //* OSCILLATOR NODE INIT
      const oNode = context.createOscillator()
      oNode.type = 'sine'
      oNode.frequency.value = 250

      //* GAIN NODE INIT
      const gNode = context.createGain()
      gNode.gain.value = 0

      //* PAN NODE INIT
      const pNode = context.createStereoPanner()
      pNode.pan.value = 0

      //* CONNECT NODES
      oNode.connect(gNode)
      gNode.connect(pNode)
      pNode.connect(context.destination)

      //* START OSCILLATOR
      oNode.start()

      //* SAVE contexts and config
      this.audioGen.audioContext = context
      this.audioGen.oscillatorNode = oNode
      this.audioGen.gainNode = gNode
      this.audioGen.panNode = pNode
    },
    stopTestOscillator () {
      this.audioGen.oscillatorNode.stop()
    },
    stepConverter (step, type = this.gainType) {
      //! ASSUMPTION: 16 volume step
      if (step === 0) {
        return 0
      } else if (step <= 16 && type === 'lin') {
        const stepHeight = 1 / 16
        return (step * stepHeight)
      } else if (step <= 16 && type === 'log') {
        const dbHeight = -6 * (16 - step)
        return Math.pow(10, dbHeight / 20)
      } else {
        throw console.error('step out of range or type not specified correctly')
      }
    },
    calcResult (arr, type = this.gainType) {
      // TODO: Check calculus method: //
      // LIN: step->lin->average->log
      // LOG: step->log->average
      if (type === 'lin') {
        let percArray = []

        // Convert steps to lin scale
        for (const result in arr) {
          percArray.push(-100 * this.stepConverter(result, type))
        }

        // Calculate mean value in percentage
        return percArray.reduce((a, b) => a + b, 0) / percArray.length
        // NOTE: No need to calculate dBFS, as those values already correspond to dbFS -> during playback, logs were used.
      } else if (type === 'log') {
        let dbArray = []

        // Convert steps to log scale
        for (const result in arr) {
          dbArray.push(-100 * this.stepConverter(result, type))
        }

        // Calculate mean value in dB and return
        return dbArray.reduce((a, b) => a + b, 0) / dbArray.length
      } else {
        console.warn('Audio component; calcResult(): Unhandled type')
      }
    },
    muteOscillator () {
      this.audioGen.gainNode.gain.setValueAtTime(0, this.audioGen.audioContext.currentTime, 0.35)
    },
    updateFreq (freq) {
      this.audioGen.oscillatorNode.frequency.value = freq
    },
    updatePan (pan) {
      if (pan === 'L') {
        this.audioGen.panNode.pan.value = (-1).toFixed()
      } else if (pan === 'R') {
        this.audioGen.panNode.pan.value = (1).toFixed()
      } else {
        this.audioGen.panNode.pan.value = (0).toFixed()
      }
    },
    updateGain () {
      if (this.currentGain < 16) {
        let gain
        this.currentGain += 1

        gain = this.stepConverter(this.currentGain)
        // this.audioGen.gainNode.gain.linearRampToValueAtTime(gain, this.audioGen.audioContext.currentTime + 0.15)
        this.audioGen.gainNode.gain.setValueAtTime(gain, this.audioGen.audioContext.currentTime, 0.55)
        console.log('update Gain')
      } else {
        // this.postIntervalRoutine()
        console.warn('Something went wrong, BRUH... I\'m calling help from updateGain()')
      }
    },

    // * INTERTIMERT METHODS * //
    interTimerStart () {
      if (!this.interTimerContext) {
        // console.log('interTimer Start')
        this.interTimerContext = setInterval(this.interTimerRoutine, this.intervalTime)
      }
      return this
    },
    interTimerStop () {
      if (this.interTimerContext) {
        // console.log('interTimer Stop')
        clearInterval(this.interTimerContext)
        // console.log('interTimerContext Destroyed')
        this.interTimerContext = null
      }
      return this
    },

    // * TEST ROUTINES * //
    async preTestRoutine () {
      // * Make sure oscillator is muted
      await this.muteOscillator()

      // * Setup first oscillet
      const tempOscillet = await this.audioStepArray.shift()
      this.updateFreq(tempOscillet.frequency)
      this.updatePan(tempOscillet.channel)
      // Save Oscillet to a global variable
      this.currentOscillet = tempOscillet

      // Setup Interval
      await this.interTimerStart()

      // * Flag UP
      this.gainUpActiveFlag = true
    },
    interTimerRoutine () {
      if (this.gainUpActiveFlag === true && this.circleClickable === true) {
        if (this.currentGain < 16) {
          // Update oscillator gain
          this.updateGain()
        } else { // If current gain is equal 16 or is out of range
          // If user didn't did it first, call testRoutine
          this.testRoutine()
        }
      }
    },
    testRoutine () {
      // console.log('testRoutine')
      // * Flag down, muteOscillator and stop InterTimer
      this.gainUpActiveFlag = false
      this.interTimerStop()
      this.muteOscillator()

      if (this.currentGain === 0) {
        // * If testResultGain is 0, retake test
        this.audioStepArray.unshift(this.currentOscillet)
        // ? console.log(this.audioStepArray[0])
        console.log('FALSTART!')
      } else {
        // * If testResultGain is NOT 0 store result and recalculate array
        this.testResults[this.currentOscillet.channel][this.currentOscillet.frequency].push(this.currentGain)

        // Check if array has three results
        const currentResultsArray = this.testResults[this.currentOscillet.channel][this.currentOscillet.frequency]

        if (currentResultsArray.length >= 3) { // If true / has three results, then
          // Part that runs whenever test already has three answers and those are not zeros
          const checkRBG = arr => {
            let min = Math.min(...arr)
            return arr.every(x => Math.abs(min - x) <= 2)
          }

          if (checkRBG(currentResultsArray)) {
            // console.log('Array has three elements with variance of two')
            // console.log('BEFORE', this.audioStepArray.length)
            this.audioStepArray = this.audioStepArray.filter(oscillet => {
              if (oscillet.frequency === this.currentOscillet.frequency && oscillet.channel === this.currentOscillet.channel) {
                return false
              } else {
                return true
              }
            })

            this.finalResults[this.currentOscillet.channel][this.currentOscillet.frequency] = this.calcResult(currentResultsArray, 'lin')

            console.log('final result: ', this.finalResults[this.currentOscillet.channel][this.currentOscillet.frequency])
          }
        }
      }

      if (this.audioStepArray.length !== 0) {
        // * Reset Gain
        this.currentGain = 0

        // * Reconfigure oscillator
        const tempOscillet = this.audioStepArray.shift()

        this.updateFreq(tempOscillet.frequency)
        this.updatePan(tempOscillet.channel)

        this.currentOscillet = tempOscillet

        // * After timeout (700 - 3800 ms) - start interval
        // Find random time OF SILENCE between 700 and 3800 ms
        const timeout = 1700 + Math.floor(2700 * Math.random())
        setTimeout(async () => {
          // Reset timer
          await this.interTimerStart()
          // Flag Up
          this.gainUpActiveFlag = true
        }, timeout)
      } else {
        // * If audioStepArray is empty, go to postTestRoutine
        this.postTestRoutine()
      }
    },
    postTestRoutine () {
      //* Stop oscillator
      this.muteOscillator()
      this.stopTestOscillator()

      //* Stop interval
      this.gainUpActiveFlag = false
      this.interTimerStop()

      //* Go to next page
      this.goNextStep()

      //* Calculate output results
      // iterate over final results. If no final result, then calculate from this.testResults

      for (const [chanKey, chanVal] of Object.entries(this.finalResults)) {
        for (const [freqKey, freqVal] of Object.entries(chanVal)) {
          // console.log(chanKey, chanVal)
          if (!freqVal) {
            // If there is no final value
            this.finalResults[chanKey][freqKey] = this.calcResult(this.testResults[chanKey][freqKey], 'lin')
          }
        }
      }

      console.log(this.testResults)
      console.log(this.finalResults)

      //* Save results to STORE
      this.$store.dispatch('uploadFinalResults', this.finalResults)
    }
  }
}

</script>

<style lang="scss" scoped>
#audio {
  opacity: 0;
  width: 0px;
  height: 0px;
  margin: 0px;
  padding: 0px;
}
</style>
