<template>
  <div class="home">
    <Welcome></Welcome>
    <WhyThisTest></WhyThisTest>
    <ThreeSteps></ThreeSteps>
    <WhatYouNeed></WhatYouNeed>
    <TestCTA></TestCTA>
    <SimCTA></SimCTA>
    <Footer></Footer>
  </div>
</template>

<script>
// @ is an alias to /src
import Welcome from '@/components/Home/M1-Welcome.vue'
import WhyThisTest from '@/components/Home/M2-Why.vue'
import ThreeSteps from '@/components/Home/M3-Steps.vue'
import WhatYouNeed from '@/components/Home/M4-WYN.vue'
import TestCTA from '@/components/Home/M5-CTA.vue'
import SimCTA from '@/components/Home/M6-Simulation.vue'
import Footer from '@/components/Home/M7-Footer.vue'

export default {
  name: 'home',
  components: {
    Welcome,
    WhyThisTest,
    ThreeSteps,
    WhatYouNeed,
    TestCTA,
    SimCTA,
    Footer
  }
}
</script>
