<template>
  <div id="simul">
    <div class="intro">
      <h1>Wybierz którąś ze ścieżek i posłuchaj</h1>
      <h1 class="intro--sub">jak mogą słyszeć inni</h1>
      <h2>Dla najlepszych doznań, załóż słuchawki 🎧</h2>
    </div>
    <hr>
    <div class="genres">
      <div class="genre">
        <h3>Mowa męska: </h3>
        <div class="genre-tracks">
          <div class="track">
            <h4>Originał</h4>
            <mini-audio :src="require('../assets/simulation/Mowa_meska/0.mp3')"></mini-audio>
          </div>
          <div class="track">
            <h4>Ucho skrzypka</h4>
            <mini-audio :src="require('../assets/simulation/Mowa_meska/1.mp3')"></mini-audio>
          </div>
          <div class="track">
            <h4>Głuchota starcza</h4>
            <mini-audio :src="require('../assets/simulation/Mowa_meska/2.mp3')"></mini-audio>
          </div>
          <div class="track">
            <h4>Zatkane ucho</h4>
            <mini-audio :src="require('../assets/simulation/Mowa_meska/4.mp3')"></mini-audio>
          </div>
          <div class="track">
            <h4>Niedosłuch przewodzeniowy</h4>
            <mini-audio :src="require('../assets/simulation/Mowa_meska/4.mp3')"></mini-audio>
          </div>
        </div>
      </div>
      <hr>
      <div class="genre">
        <h3>Mowa damska: </h3>
        <div class="genre-tracks">
          <div class="track">
            <h4>Originał</h4>
            <mini-audio :src="require('../assets/simulation/Mowa_kobieca/0.mp3')"></mini-audio>
          </div>
          <div class="track">
            <h4>Ucho skrzypka</h4>
            <mini-audio :src="require('../assets/simulation/Mowa_kobieca/1.mp3')"></mini-audio>
          </div>
          <div class="track">
            <h4>Głuchota starcza</h4>
            <mini-audio :src="require('../assets/simulation/Mowa_kobieca/2.mp3')"></mini-audio>
          </div>
          <div class="track">
            <h4>Zatkane ucho</h4>
            <mini-audio :src="require('../assets/simulation/Mowa_kobieca/3.mp3')"></mini-audio>
          </div>
          <div class="track">
            <h4>Niedosłuch przewodzeniowy</h4>
            <mini-audio :src="require('../assets/simulation/Mowa_kobieca/4.mp3')"></mini-audio>
          </div>
        </div>
      </div>
      <hr>
      <div class="genre">
        <h3>Muzyka klasyczna: W.A. Mozart - 'Dies Irae'</h3>
        <div class="genre-tracks">
          <div class="track">
            <h4>Originał</h4>
            <mini-audio :src="require('../assets/simulation/Mozart/0.mp3')"></mini-audio>
          </div>
          <div class="track">
            <h4>Ucho skrzypka</h4>
            <mini-audio :src="require('../assets/simulation/Mozart/1.mp3')"></mini-audio>
          </div>
          <div class="track">
            <h4>Głuchota starcza</h4>
            <mini-audio :src="require('../assets/simulation/Mozart/2.mp3')"></mini-audio>
          </div>
          <div class="track">
            <h4>Zatkane ucho</h4>
            <mini-audio :src="require('../assets/simulation/Mozart/3.mp3')"></mini-audio>
          </div>
          <div class="track">
            <h4>Niedosłuch przewodzeniowy</h4>
            <mini-audio :src="require('../assets/simulation/Mozart/4.mp3')"></mini-audio>
          </div>
        </div>
      </div>
      <hr>
      <div class="genre">
        <h3>Muzyka klasyczna: Léo Delibes - ‘Flower Duet’ z Lakmé</h3>
        <div class="genre-tracks">
          <div class="track">
            <h4>Originał</h4>
            <mini-audio :src="require('../assets/simulation/Delibes/0.mp3')"></mini-audio>
          </div>
          <div class="track">
            <h4>Ucho skrzypka</h4>
            <mini-audio :src="require('../assets/simulation/Delibes/1.mp3')"></mini-audio>
          </div>
          <div class="track">
            <h4>Głuchota starcza</h4>
            <mini-audio :src="require('../assets/simulation/Delibes/2.mp3')"></mini-audio>
          </div>
          <div class="track">
            <h4>Zatkane ucho</h4>
            <mini-audio :src="require('../assets/simulation/Delibes/3.mp3')"></mini-audio>
          </div>
          <div class="track">
            <h4>Niedosłuch przewodzeniowy</h4>
            <mini-audio :src="require('../assets/simulation/Delibes/4.mp3')"></mini-audio>
          </div>
        </div>
      </div>
      <hr>
      <div class="genre">
        <h3>POP: Michael Jackson - 'Thriller'</h3>
        <div class="genre-tracks">
          <div class="track">
            <h4>Originał</h4>
            <mini-audio :src="require('../assets/simulation/Jackson/0.mp3')"></mini-audio>
          </div>
          <div class="track">
            <h4>Ucho skrzypka</h4>
            <mini-audio :src="require('../assets/simulation/Jackson/1.mp3')"></mini-audio>
          </div>
          <div class="track">
            <h4>Głuchota starcza</h4>
            <mini-audio :src="require('../assets/simulation/Jackson/2.mp3')"></mini-audio>
          </div>
          <div class="track">
            <h4>Zatkane ucho</h4>
            <mini-audio :src="require('../assets/simulation/Jackson/3.mp3')"></mini-audio>
          </div>
          <div class="track">
            <h4>Niedosłuch przewodzeniowy</h4>
            <mini-audio :src="require('../assets/simulation/Jackson/4.mp3')"></mini-audio>
          </div>
        </div>
      </div>
      <hr>
      <div class="genre">
        <h3>POP: Aha - 'Take on me'</h3>
        <div class="genre-tracks">
          <div class="track">
            <h4>Originał</h4>
            <mini-audio :src="require('../assets/simulation/Aha/0.mp3')"></mini-audio>
          </div>
          <div class="track">
            <h4>Ucho skrzypka</h4>
            <mini-audio :src="require('../assets/simulation/Aha/1.mp3')"></mini-audio>
          </div>
          <div class="track">
            <h4>Głuchota starcza</h4>
            <mini-audio :src="require('../assets/simulation/Aha/2.mp3')"></mini-audio>
          </div>
          <div class="track">
            <h4>Zatkane ucho</h4>
            <mini-audio :src="require('../assets/simulation/Aha/3.mp3')"></mini-audio>
          </div>
          <div class="track">
            <h4>Niedosłuch przewodzeniowy</h4>
            <mini-audio :src="require('../assets/simulation/Aha/4.mp3')"></mini-audio>
          </div>
        </div>
      </div>
      <hr>
      <div class="genre">
        <h3>Rock: Heart - 'Barracuda' </h3>
        <div class="genre-tracks">
          <div class="track">
            <h4>Originał</h4>
            <mini-audio :src="require('../assets/simulation/Heart/0.mp3')"></mini-audio>
          </div>
          <div class="track">
            <h4>Ucho skrzypka</h4>
            <mini-audio :src="require('../assets/simulation/Heart/1.mp3')"></mini-audio>
          </div>
          <div class="track">
            <h4>Głuchota starcza</h4>
            <mini-audio :src="require('../assets/simulation/Heart/2.mp3')"></mini-audio>
          </div>
          <div class="track">
            <h4>Zatkane ucho</h4>
            <mini-audio :src="require('../assets/simulation/Heart/3.mp3')"></mini-audio>
          </div>
          <div class="track">
            <h4>Niedosłuch przewodzeniowy</h4>
            <mini-audio :src="require('../assets/simulation/Heart/4.mp3')"></mini-audio>
          </div>
        </div>
      </div>
      <hr>
      <div class="genre">
        <h3>Rock: Queen - 'Don't stop me now'</h3>
        <div class="genre-tracks">
          <div class="track">
            <h4>Originał</h4>
            <mini-audio :src="require('../assets/simulation/Queen/0.mp3')"></mini-audio>
          </div>
          <div class="track">
            <h4>Ucho skrzypka</h4>
            <mini-audio :src="require('../assets/simulation/Queen/1.mp3')"></mini-audio>
          </div>
          <div class="track">
            <h4>Głuchota starcza</h4>
            <mini-audio :src="require('../assets/simulation/Queen/2.mp3')"></mini-audio>
          </div>
          <div class="track">
            <h4>Zatkane ucho</h4>
            <mini-audio :src="require('../assets/simulation/Queen/3.mp3')"></mini-audio>
          </div>
          <div class="track">
            <h4>Niedosłuch przewodzeniowy</h4>
            <mini-audio :src="require('../assets/simulation/Queen/4.mp3')"></mini-audio>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data: function () {
    return {
    }
  },
  computed: {
    source () {
      return require('../assets/simulation/Aha/0.mp3')
    }
  }

}
</script>

<style lang="scss" scoped>
$main-color-primary: #2F80ED;
$main-color-secondary: #27C7EF;

#simul {
  position: absolute;
  min-height: 100vh;
  width: 100vw;

  background: linear-gradient(180deg, $main-color-primary 0%, $main-color-secondary 100%);
}

.intro {
  margin-top: 10rem;

  & > h1 {
    font-size: 6rem;
    margin-bottom: 1rem;
  }

  & > .intro--sub {
    margin-top: 1rem;
    margin-bottom: 3rem;
  }
}

h3 {
  font-size: 3.7rem;
  // text-align: left;
}

.genre {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 5rem;
  margin-right: 5rem;
}

.genre-tracks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

hr {
  max-width: 90rem;
  margin: 5rem auto 5rem auto;
}

.track {
  text-align: center;
  font-size: 2.1rem;
}
</style>
