<template>
    <div id="test-body-container" :class="isDuringTest == true ? 'background--muted' : 'background--normal'">
      <div class="inner-test-body-container">
        <div class="top">
          <TestStepperHorizontal id="stepper-hor"></TestStepperHorizontal>
        </div>
        <transition name="fade" mode="out-in">                                                       <!-- !TRANSITION TO FILL! -->
          <TestPhaseStart v-if='isPhaseStart' id="test-phase-start"/>
          <TestPhaseEnd v-if='!isPhaseStart' id="test-phase-end"/>
        </transition>
        <div id="copy">
          <p>Copyright © Piotr Petrycki dla wydziału WIEiT AGH 2019</p>
        </div>
      </div>
    </div>
</template>

<script>
import TestStepperHorizontal from '@/components/Test/Additional/TestStepperHorizontal.vue'
import TestPhaseStart from '@/components/Test/TestPhaseStart.vue'
import TestPhaseEnd from '@/components/Test/TestPhaseEnd.vue'

export default {
  name: 'Test',
  components: {
    TestStepperHorizontal,
    TestPhaseStart,
    TestPhaseEnd
  },
  computed: {
    isPhaseStart () {
      return this.$store.getters.getIfTestDuring
    },
    isDuringTest () {
      var step = this.$store.getters.getTestStep
      if (step === 5) {
        return true
      } else {
        return false
      }
    }
  }
}
</script>

<style lang="scss" scoped>

$main-color-primary: #2F80ED;
$main-color-secondary: #27C7EF;

#test-body-container {
  position: absolute;
  min-height: 100vh;
  width: 100vw;

  display: flex;

  .inner-test-body-container {
    display: flex;
    flex-direction: column;
    margin-top: 8rem;

    .top {
      margin-top: .5em;
      width: 100vw;
      #stepper-hor {
        margin: auto;
        max-width: 200rem;
      }
    }

    #test-phase-start {
      width: 100%;
      flex-grow: 1;
    }

    .test-finish {
      position: absolute;
      bottom: 0;
      width: 100%;
      margin-bottom: 7rem;
      align-items: center;
    }

    #test-button{

    }

    #copy {
      position: absolute;
      bottom: 0;
      width: 100%;
    }
  }
}

.background--normal {
  background: linear-gradient(180deg, $main-color-primary 0%, $main-color-secondary 100%);
  transition: 1s;
}

.background--muted {
  background: $main-color-primary;
  transition: background 1s;
}

.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

</style>
