<template>
    <div id="welcome">
        <div class="text">
            <h1>Sprawdź, co słyszą Twoje uszy</h1>
            <p>Zastanawiasz się, czy stan Twojego słuchu jest bez zarzutu? A może już słyszysz, że coś jest nie tak? Weź udział w prostym teście audiometrycznym on-line. Dzięki niemu dokonasz wstępnej oceny narządu słuchu. Pamiętaj tylko, że nie zastępuje on wizyty u specjalisty.</p>
        </div>
        <img class="homeboy" :src="require('@/assets/home/grafiki/Boy3.png')" alt="homeboy">
        <h2 class="helper">Najedź na kartę by dowiedzieć się więcej >></h2>
    </div>
</template>

<script>
export default {
  name: 'Welcome'
}

</script>

<style lang="scss" scoped>

$main-color-primary: #2F80ED;
$main-color-secondary: #27C7EF;

#welcome {
  height: 70vh;
  margin-top: 6.5rem;
  position: relative;
  // box-sizing: border-box;
  background: linear-gradient(180deg, $main-color-primary 0%, $main-color-secondary 100%);

  padding-bottom: 6rem;

  .text {
    position: absolute;
    bottom: 17%;
    left: 10%;
    max-width: 50vw;
    z-index: 1;

    h1 {
      text-align: left;
      margin-bottom: 0px;
      margin-top: 0px;

      max-width: 70rem;

      font-weight: 700;
    }

    p {
      margin-top: 2rem;
      text-align: left;

      max-width: 85rem;

      font-size: 1.7rem;
    }
  }

  h2 {
    font-size: 23px;
    opacity: 0.4;
  }

  .helper {
    position: absolute;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
  }

  .homeboy {
    float: right;
    transform: scaleX(-1);
    z-index: 0;

    position: absolute;
    right: 0;

    height: 100%;
  }
}

</style>
