<template>
  <div id="whyYou">
    <div class="title">
      <h1>Zanim rozpoczniesz test...</h1>
    </div>
    <div class="panel">
      <CardSecondary typeName="headphones"></CardSecondary>
      <CardSecondary typeName="age" class="default"></CardSecondary>
      <CardSecondary typeName="goodhealth"></CardSecondary>
    </div>
  </div>
</template>

<script>
import CardSecondary from '@/components/Home/Additional/Card-Secondary.vue'

export default {
  name: 'WhatYouNeed',
  components: {
    CardSecondary
  }
}
</script>

<style lang="scss" scoped>

$main-color-primary: #27C7EF;
$main-color-secondary: #2F80ED;

#whyYou {
  position: relative;

  max-height: 85vh;
  background: linear-gradient(180deg, $main-color-primary 0%, $main-color-secondary 100%);

  padding-top: 4rem;
  padding-bottom: 4rem;
  overflow: hidden;

  .title{
    margin: 5rem 0 7rem 0;

    h1{
      font-size: 5.7rem;
      margin: 0;
    }
  }

  .panel{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &:not(:hover) {
    .default {
      opacity: 1;
      margin: 0 8rem 0 8rem;
    }
  }
}

</style>
