<template>
    <div id="testCTA">
        <div class="text">
            <h1>Prostota, bezpieczeństwo i wiarygodne wyniki</h1>
            <div class="subtext">
             <h3>Miej słuch pod kontrolą. Rozwiej wątpliwości i weź udział w teście, który pozwoli Ci wstępnie ocenić stan Twojego słuchu oraz będzie pierwszym potwierdzeniem ewentualnego jego ubytku.</h3>
            </div>
            <div class="testbutton">
                <Buttontest type="test" animate='infinite'></Buttontest>
            </div>
             <div class="bottomtext">
              <p>Pamiętaj, że test nie zastępuje profesjonalnego badania słuchu. </p>
              <p>Jeśli wyniki będą Cię niepokoić, koniecznie skontaktuj się ze specjalistą.<p/>
            </div>
        </div>
    </div>
</template>

<script>
import Buttontest from '@/components/Home/Additional/Buttontest.vue'

export default {
  name: 'Button',
  components: {
    Buttontest
  }
}
</script>

<style lang="scss" scoped>

$color-secondary: #2F80ED;

#testCTA {
  position: relative;
  background: $color-secondary;

  padding-top: 4rem;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

    h1 {
    margin-top: 5rem;
    font-size: 5.7rem;
    }

    .subtext {
      width: 100%;
      display: flex;
      justify-content: center;

      h3 {
        font-size: 2.1rem;
        width:  45vw;

        margin: 4rem 0 4rem 0;
      }
     }

    .testbutton {
      display: flex;
      justify-content: center;
      margin-top: 5rem;
    }

    .bottomtext{
      margin: 8rem 0 5rem 0;

      p {
        font-size: 1.5rem;
        margin: 0px;
      }
    }
}

</style>
