<template>
<div class="wrapper">
  <div class="flexContainer">
    <div class="firstCol">
      <h1>Symulator</h1>
      <div class="paragraph">
        <p>Ciekawi Cię jakie dźwięki wychwytują osoby z ubtykiem słuchu?</p>
        <p>Dzięki eksperckiej wiedzy technicznej zaprojektowano  i stworzono symulator, który pozwoli Ci się o tym przekonać.</p>
        <p>Tak jak w przypadku testu słuchu, wykonanie symulacji jest darmowe, proste i bezpieczne.</p>
      </div>
      <Buttontest type="simulation" class="sim-button"></Buttontest>
    </div>
    <div class="secondCol">
      <img  :src="require('@/assets/home/M6/logo.png')" >
    </div>
  </div>
</div>
</template>

<script>
import Buttontest from '@/components/Home/Additional/Buttontest.vue'

export default {
  name: 'Button',
  components: {
    Buttontest
  }
}
</script>

<style lang="scss" scoped>

$main-color-primary: #2F80ED;
$main-color-secondary: #27C7EF;

.wrapper {
  background: linear-gradient(180deg, $main-color-primary 0%, $main-color-secondary 100%);
  position: relative;
  padding-top: 15rem;
  padding-bottom: 10rem;
}

.flexContainer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  flex-direction: row;
  align-items: stretch;
  width: 100%;

  .firstCol {
    width: 40%;
    text-align: left;

    max-width: 65rem;

    h1 {
      margin: 0;
    }

    .paragraph {
      margin: 5rem 0 5rem 0;
      max-width: 50rem;

      p {
        font-size: 1.7rem;
      }
    }

    .sim-button {
      margin: 2rem 0 0 0;
    }
  }

  .secondCol {
    max-width: 40%;

    img{
      // height: 100%;
      max-width: 700px;
      border-radius: 2rem;
    }
  }
}
</style>
