<template>
    <div v-if='buttinfo' >
      <router-link :to="buttinfo.link">
        <button class="button" :class="animationType == true ? 'animate-constant' : 'animate-once'"><b>{{buttinfo.title}}</b></button>
      </router-link>
    </div>
</template>

<script>
export default {
  name: 'Buttontest',
  props: ['type', 'animate'],
  computed: {
    buttinfo () {
      return this.$store.getters.getButtontest[this.type]
    },
    animationType () {
      if (this.animate === 'infinite') {
        return true
      } else {
        return false
      }
    }
  }
}
</script>

<style lang="scss" scoped>

$color-button: #FFDA00;
$animation-time: 1.8s;

.button {
 padding: 1.5rem 3rem 1.5rem 3rem;
 background: $color-button;
 border-radius: 4rem;
 border: 0.5px solid #ffffff;
 color: #005F95;
 font-size: 20px;
 text-align: center;
 cursor: pointer;
 text-transform: uppercase;
 outline:0;
}

.animate-constant {
 animation: animate $animation-time ease-out infinite;
}

.animate-once {
 animation: animate $animation-time ease-out 3;
}

@keyframes animate {
 0% {
  box-shadow: 0 0 .5rem 0 rgba(255, 255, 255, 0.7);
 }
 80% {
  box-shadow: 0px 0px 1rem 3rem rgba(255, 255, 255, 0);
 }
 100% {
  box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0);
 }
}

</style>
