<template>
  <div :id="typeName" v-if='type' class="card">
    <div class="card-front">
      <div class="avatar">
        <img :src="require('@/assets/home/ikonyTOP/' + type.avatar)">
      </div>
      <div class="title">
        <h3>{{type.titleUpper}}</h3>
        <h3>{{type.titleLower}}</h3>
      </div>
    </div>
    <div class="card-back">
      <p>{{type.paragraph}}</p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'CardPrimary',
  props: ['typeName'],
  computed: {
    type () {
      return this.$store.getters.getHomeUpperCardInfo[this.typeName]
    }
  }
}
</script>

<style lang="scss" scoped>

$card-bg-color-primary: #FFFFFF;
$card-bg-color-secondary: #FFDA00;
$card-bg-opacity-inactive: 0.4;
$card-bg-opacity-active: 1;
$card-border-radius: 25px;
$card-font-color: #005F95;

$animation-duration: 0.4s;
$animation-delay: $animation-duration/2;

.card {
  position: relative;
  opacity: 0.6;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  transition:  all $animation-duration ease-out;

  &:hover {
    z-index: 3;
    transform: scale(1.7);
    visibility: visible;
    margin-left: 8rem;
    margin-right: 35rem;
    opacity: 1;
    // animation: d duration timing-function delay iteration-count direction fill-mode;
    // animation: cardPop $animation-duration 1 normal ease-in-out forwards;
    & .card-back {
      animation: cardSlide $animation-duration 1 normal ease-out forwards;
    }
  }

  .card-front {
    position: relative;
    z-index: 2;

    background-color: $card-bg-color-primary;
    border-radius: 2.5rem;

    width: 20rem;
    height: 26rem;

    display: flex;
    flex-direction: column;

    .avatar {

      img {
        flex-grow: 1;

        margin-top: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
      }
    }

    .title {
      margin-bottom: 1rem;
      margin-top: 1rem;
      vertical-align: middle;

      h3 {
        font-size: 1.5rem;
        margin: 0px;
        color: $card-font-color;
      }
    }
  }

  .card-back {
    visibility: hidden;

    position: absolute;
    z-index: 1;

    background-color: $card-bg-color-secondary;
    border-radius: 2.5rem;

    width: 20rem;
    height: 26rem;
    // padding-left: 0.5rem;
    // padding-right: 0.5rem;

    top: 0px;
    left: 0px;

    display: flex;
    align-items: center;
    justify-content: center;

    p {
      color: $card-font-color;
      font-size: 1.1rem;
      text-align: left;

      margin-left: 5rem;
      margin-right: 1rem;
    }
  }
}
// @keyframes cardPop {
//   0% {
//   }
//   50% {
//     z-index: 3;
//     transform: scale(1.7);
//     opacity: 100%;
//     margin-left: 10rem;
//     margin-right: 10rem;
//   }
//   100%{
//     z-index: 3;
//     transform: scale(1.7);
//     opacity: 100%;
//     visibility: visible;
//     margin-left: 8rem;
//     margin-right: 35rem;
//   }
// }

@keyframes cardSlide {
  0% {
    visibility: visible;
  }
  100% {
    visibility: visible;
    transform: translateX(16rem);
  }
}

</style>
