<template>
  <div :id="typeName" v-if='type' class="card">
    <div class="card-front">
      <div class="avatar">
        <img :src="require('@/assets/home/ikonyBOTTOM/' + type.avatar)">
      </div>
      <div class="title">
        <h3>{{type.titleUpper}}</h3>
        <!-- <h3>{{type.titleLower}}</h3> -->
      </div>
    </div>
    <div class="card-back">
      <p>{{type.paragraph}}</p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'CardSecondary',
  props: ['typeName'],
  computed: {
    type (typeName) {
      return this.$store.getters.getHomeSecondaryCardInfo[this.typeName]
    }
  }
}
</script>

<style lang="scss" scoped>

$card-bg-color-primary: #FFFFFF;
$card-bg-color-secondary: #FFDA00;
$card-bg-opacity-inactive: 0.6;
$card-bg-opacity-active: 1;
$card-border-radius: 2.5rem;
$card-font-color: #005F95;

$animation-duration: 0.4s;

.card {
  position: relative;
  opacity: $card-bg-opacity-inactive;
  margin-left: 1.5rem;
  margin-right: 1.5rem;

  transition:  all $animation-duration ease-out;

  &:hover {
    z-index: 3;
    opacity: $card-bg-opacity-active;
    margin-left: 4rem;
    margin-right: 31rem;

    & .card-back {
      animation: cardSlide $animation-duration 1 normal ease-in-out forwards;
    }
  }

  .card-front {
    position: relative;
    z-index: 2;

    background-color: $card-bg-color-primary;
    border-radius: $card-border-radius;

    width: 34rem;
    height: 44.2rem;

    display: flex;
    flex-direction: column;

    .avatar {

      img {
        flex-grow: 1;

        margin-top: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
      }
    }

    .title {
      margin-bottom: 1.7rem;
      margin-top: 1.7rem;
      vertical-align: middle;

      h3 {
        font-size: 3.3rem;
        margin: 0px;
        color: $card-font-color;
      }
    }
  }

  .card-back {
    visibility: hidden;

    position: absolute;
    z-index: 1;

    background-color: $card-bg-color-secondary;
    border-radius: 2.5rem;

    width: 34rem;
    height: 44.2rem;

    top: 0px;
    left: 0px;

    display: flex;
    align-items: center;
    justify-content: center;

    p {
      color: $card-font-color;
      font-size: 1.87rem;
      text-align: left;

      margin-left: 8.5rem;
      margin-right: 1.7rem;
    }
  }
}

@keyframes cardPop {
  0% {
  }
  100%{
    z-index: 3;
    opacity: $card-bg-opacity-active;
    margin-left: 4rem;
    margin-right: 31rem;
  }
}

@keyframes cardSlide {
  0% {
    visibility: visible;
  }
  100% {
    visibility: visible;
    transform: translateX(27.2rem);
  }
}

</style>
