<template>
  <div id="stepper">
    <ul class="steps">
      <li :class="whichActive == 1 ? 'active' : ''" v-on:click="switchStep(1)"><h3>Konfiguracja</h3></li>
      <li :class="whichActive == 2 ? 'active' : ''" v-on:click="switchStep(2)"><h3>Test</h3></li>
      <li :class="whichActive == 3 ? 'active' : ''" v-on:click="switchStep(3)"><h3>Wyniki</h3></li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'StepperHorizontal',
  props: ['clickable'],
  computed: {
    whichActive () {
      return this.$store.getters.getHomeCarouselInfo['step']
    }
  },
  methods: {
    switchStep (step) {
      if (this.clickable === 'True') {
        this.$store.dispatch('changeStepHome', step)
      }
    }
  }
}
</script>

<style lang="scss" scoped>

$color-secondary: #FFFFFF;
$color-bg: #27C7EF;
$color-primary: #FFDA00;
$color-primary-accent: #005F95;

%remain-steps{
  // ACTIVE - POST
  &:before {
    content: counter(stepNum);
    font-family: inherit;
    font-weight: 700;
    z-index: 5;
  }
  &:after{
    background-color: $color-secondary;
  }
}

.steps{
  display: table;
  table-layout: fixed;
  width: 100%;
  padding: 0px;
  z-index: 5;

  > li{
    //  NON - ACTIVE
    counter-increment: stepNum;
    text-align: center;
    display: table-cell;
    position: relative;
    color: $color-primary-accent;
    font-size: 1.5rem;

    cursor: pointer;

    &:before{
      content: '\2713';
      content: counter(stepNum);
      display: block;
      margin: auto;
      background-color: $color-primary;
      width: 4rem;
      height: 4rem;
      line-height: 4rem;
      text-align: center;
      font-size: 2rem;
      z-index: 5;
      border: {
        width: 3px;
        style: solid;
        color: $color-primary;
        radius: 50%;
      }
    }
    &:after{
      content: '';
      height: .5rem;
      width: 95%;
      background-color: $color-primary;
      position: absolute;
      top: 2rem;
      left: 50%;
      margin-left: 2.28rem;
      margin-right: 2.28rem;
    }
    &:last-child{
      &:after{
        display: none;
      }
    }

    &.active{
      // ACTIVE
      @extend %remain-steps;
      &:before {
        background-color: $color-secondary;
        border-color: $color-primary;
        color: $color-primary-accent;
        z-index: 5;
      }

      ~ li {
        color: $color-primary-accent;
        @extend %remain-steps;
        &:before{
          background-color: $color-bg;
          border-color: $color-secondary;
        }
      }
    }
  }
}
</style>
