<template>
  <div v-if='cont' class="content">
    <div class="image">
      <img :src="require('@/assets/home/test-steps/' + cont.imgSrc)" rel="preload">
    </div>
    <div class="text">
      <h3>{{cont.title}}</h3>
      <hr>
      <p>{{cont.paragraph}}</p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'HomeStepperContent',
  props: ['contentName'],
  computed: {
    cont () {
      return this.$store.getters.getHomeCarouselInfo['data'][this.contentName]
    }
  }
}
</script>

<style lang="scss" scoped>

$color-primary: #FFDA00;

.content {
  display: flex;
  margin: 2rem 5rem 0 5rem;

  min-width: 67vw;

  .image {
    img {
      border-radius: 2rem;
      height: 55vh;
    }
  }

  .text {
    width: 30rem;
    word-wrap: break-word ;
    margin-left: 5rem;
    margin-top: 5rem;

    h3 {
      text-align: right;
      font-size: 2.9rem;
    }

    hr {
       border-top: 0.25rem solid $color-primary;
    }

    p {
      margin-top: 2.5rem;
      text-align: right;
      font-size: 1.7rem;
    }
  }
}
</style>
